<div class="control-section">
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    height="350"
    enableCollapseAll="true"
    autoCheckHierarchy="true"
    childMapping="subtasks"
    [treeColumnIndex]="1"
    (checkboxChange)="checkboxChange($event)"
  >
    <e-columns>
      <e-column
        field="taskID"
        headerText="Task ID"
        isPrimaryKey="true"
        width="70"
        textAlign="Right"
      ></e-column>
      <e-column
        field="taskName"
        headerText="Task Name"
        width="200"
        [showCheckbox]="true"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
